{% extends 'base.html.twig' %}

{% block payment_class %}class="active"{% endblock %}
{% block header %}
Payments
{% endblock %}
{% block header_annex %}
<li><a href="{{path('allProjects')}}">Home</a></li>
<li class="active">Payments</li>
{% endblock %}

{% block left_column %}

    <a href="{{path('allPayments')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Show all Payments</a>
    <a href="{{path('allPaymentsDriver')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Payments Driver</a>
    <a href="{{path('allPaymentsSupplier')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Payments Supplier</a>
{% endblock %}
{% block center_column %}

    {% block path %}

    {% endblock %}

    {% block content %}
    
    {% endblock %}
{% endblock %}
