{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block header %}
    <li><span><span><a href="#">Projects</a></span></span></li>
    <li><span><span><a href="#">Missions</a></span></span></li>
    <li><span><span><a href="#">Rent</a></span></span></li>
    <li><span><span><a href="#">Drivers</a></span></span></li>
    <li><span><span><a href="#">Vehicles</a></span></span></li>
    <li><span><span><a href="#">Payments</a></span></span></li>
    <li class="active"><span><span><a href="#">Users</a></span></span></li>
{% endblock %}